.big-counter{
   display: flex;
   height: 100vh;
   justify-content: center;
   align-items: center;
}
.big-counter div{
    font-size: 40px;
    background-color: #101010;
    color: white;
    padding: 10px;
}

.clock{
    border-radius: 10px 0 0 10px;
}
.one{
    border-radius: 0 10px 10px 0;
}

